[submodule "Composite_Service"]
	path = Composite_Service
	url = https://github.com/hoquesumya/COMS-4153-Project-composite-microservice.git
[submodule "UI_StudyLink"]
	path = UI_StudyLink
	url = https://github.com/jeannieMo/COMS-4153-Project-UI.git
[submodule "Course_Enrollment_Service"]
	path = Course_Enrollment_Service
	url = git@github.com:jeannieMo/COMS-4153-Project-CourseEnrollment-Microservice.git
